<%- include('header', { sources }) %>
        <!-- 右侧 -->
        <div id="right">
            <div id="swith_one">
                <!-- 左侧菜单折叠展开按钮 -->
                <img src="/img/swith_one.jpg">
            </div>
            <div id="head">
                <form action="/article/searchResult" method="post">
                      <input class="ser" type="text" name = "search"><input class="btn_ser" type="submit" value="搜索"><!-- 搜索框-->
                </form>
                <!-- 搜索框-->
                <div id="head_sculpture">
                    <strng><%= username %></strng>
                </div>
                <!-- 头像    改为用户名-->
            </div>
            <div id="cut_line"></div>
            <div id="right_body">
                <div id="manage_article">
                    <div id="all_head">
                        <div class="a">
                            <strong>收藏管理</strong>
                        </div>
                    </div>
                    <br>
                    <div id="manage">
                        <div id="publicPlatform">

                            <% articles.forEach(function(article){ %>
                            <form id="delArticleForm" name="delArticleForm" action="/article/removeFromBoard" method="post">
                            <div>
                                <span href="<%= article.link %>"><%= article.title %></span>
                                <input type = "hidden" name = "articleid" value = "<%= article.id %>">
                                <img onclick="javascript:$('#delArticleForm').submit();" src="/img/icon5.jpg">
                            </div>
                            </form>
                            <% }); %>

                        </div>
                    </div>

                </div>
            </div>

        </div>
<%- include('footer') %>
